.color-top {
  background-color: #0a2647;
  padding-bottom: 40px;
}

.user {
  width: 100%;
}

.buscador {
  width: 70%;
  margin-left: 0px;
  margin-top: 2%;
}

.color-bot {
  background-color: #144272;
}

.collapsable {
  width: 70%;
  margin: auto;
}

.selector {
  font-weight: 900;
}

.anuncio-1 {
  width: 47%;
  margin: 3% 0 1.5% 2%;
}

.anuncio-2 {
  width: 47%;
  margin: 3% 1.5% 1.5% 1.5%;
}
